*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}


.container{
    font-size: 20px;
}
.introduction{
    text-align: center;
    margin: 10 px;
}

.autobiography h3{
    color: red;
}

